@import './variables.scss';
@import './mixins.scss';

body{
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  @include tablet{
    overflow-y: visible;
  }
}


@import './header.scss';
@import './contacts.scss';
